name: Build QSIPrep SIF

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'QSIPrep 版本号'
        required: true
        default: '1.0.2'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 挂载 30 GB 临时磁盘
        run: |
          sudo fallocate -l 30G /mnt/extra.img
          sudo mkfs.ext4 /mnt/extra.img
          sudo mkdir -p /mnt/extra
          sudo mount /mnt/extra.img /mnt/extra
          sudo chmod 777 /mnt/extra
          echo "APPTAINER_TMPDIR=/mnt/extra" >> $GITHUB_ENV

      - name: 安装 Apptainer
        run: |
          sudo apt-get update
          sudo apt-get install -y wget uidmap fuse-overlayfs squashfs-tools
          wget https://github.com/apptainer/apptainer/releases/download/v1.3.4/apptainer_1.3.4_amd64.deb
          sudo dpkg -i apptainer_1.3.4_amd64.deb || sudo apt-get -f install -y

      - name: 构建 SIF
        run: |
          export APPTAINER_TMPDIR=/mnt/extra
          export APPTAINER_CACHEDIR=/mnt/extra
          timeout 3600 apptainer pull \
            qsiprep-${{ github.event.inputs.version }}.sif \
            docker://pennlinc/qsiprep:${{ github.event.inputs.version }}
          ls -lh qsiprep-${{ github.event.inputs.version }}.sif

      - name: 上传到 Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: qsiprep-${{ github.event.inputs.version }}-sif
          name: QSIPrep ${{ github.event.inputs.version }} SIF
          files: qsiprep-${{ github.event.inputs.version }}.sif
          token: ${{ secrets.GITHUB_TOKEN }}
