name: Build QSIPrep SIF

on:
  workflow_dispatch:  # 允许手动触发

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Apptainer
        run: |
          sudo apt update
          sudo apt install -y wget
          wget https://github.com/apptainer/apptainer/releases/download/v1.3.4/apptainer_1.3.4_amd64.deb
          sudo dpkg -i apptainer_1.3.4_amd64.deb

      - name: Pull QSIPrep
        run: |
          apptainer pull qsiprep-0.21.0.sif docker://pennbbl/qsiprep:0.21.0
          ls -lh qsiprep-0.21.0.sif

      - name: Upload to Artifact
        uses: actions/upload-artifact@v4
        with:
          name: qsiprep-0.21.0.sif
          path: qsiprep-0.21.0.sif
